@import url('https://fonts.googleapis.com/css2?family=Courgette&family=La+Belle+Aurore&family=Montserrat&family=Nanum+Gothic&family=Open+Sans&family=Pacifico&family=Roboto+Slab:wght@100;200;400&family=Roboto:ital,wght@0,400;1,300&family=Sacramento&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Sacramento', cursive; */
    
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

   
}

.main {
    height: 100%;
    width: 100%;

}

.page1 {
    height: 150%;
    width: 100%;
    background-color: #fcf5eb;
}

nav {
    z-index: 9999;
    position: fixed;
    height: 12%;
    width: 100%;
    background-color: #fcf5eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 3px 7px rgb(167, 157, 157);
}

.left-nav {
    height: 50%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 2%; */
}

.logo-img {
    height: 100%;
    width: 100%;
}

.mid-nav {
    height: 100%;
    width: 30%;
    /* background-color: darkgray; */
    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    width: 100%;
    /* background-color: rgb(225, 75, 75); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

ul li {
    font-size: 1.5vmax;
    position: relative;
}

li::after {
    content: "";
    height: 10%;
    width: 0%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(99, 224, 99);
}

li:hover::after {
    width: 100%;
}



.right-nav {
    height: 100%;
    width: 24%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    /* margin-right: 2%; */
}

.right-nav h3 {
    font-size: 1.5vmax;
}

/* .download-btn {

    padding: 4px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    color: white;
    background-color: #25d366;
} */

.achkar-down {
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    background-color: #25d366;

}
.whatsapp-web{
    text-decoration: none;
    color: #111b21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
    padding: 10px 18px;
    border-radius: 50px;
    /* background-color: #6091ff; */
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 99;
}

#greendiv {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: black;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;

}

a:hover #greendiv {
    left: 0;
    border-radius: 50px;
}

.bi {
    margin: 4px;
    font-weight: 500;
    font-size: 1.5vmax;
}

.background {
    height: 80%;
    width: 97%;
    /* background-color: antiquewhite; */
    position: relative;
    top: 10%;
    left: 1.5%;
    background-image: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.main-back {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-back {
    height: 100%;
    width: 50%;
    /* background-color: red; */
}

.msg-text {
    font-size: 5vmax;
    position: relative;
    top: 30%;
    left: 17%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.msg-pera {
    font-size: 1.3vmax;
    position: relative;
    top: 32%;
    left: 17%;
    color: white;
}

.btn-down {
    padding: 9px 16px;
    position: relative;
    top: 39%;
    left: 17%;
    border-radius: 50px;
    background-color: #25d366;
    color: white;
    font-size: 1.3vmax;
}

.right-back {
    height: 100%;
    width: 50%;
    /* background-color: rgb(158, 111, 111); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-div {
    z-index: 99;
    height: 5%;
    width: 50%;
    margin-bottom: 90px;

}

.chat-img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.chay-div {
    height: 10%;
    width: 90%;
    /* background-color: thistle; */
    /* margin-bottom: 90px; */
    margin: 10%;

}

.voice-div {
    height: 5%;
    width: 50%;
    /* background-color: burlywood; */
    margin-bottom: 50px;

}

.photo-div {
    height: 300px;
    width: 300px;
    /* background-color: aqua; */

}

/* --------------------------------------- */
.page2 {
    height: 140%;
    width: 100%;
    background-color: #fcf5eb;
}

.peragraf-page2 {
    text-align: center;
    font-size: 4vmax;
    position: relative;
    top: 5%;

}

.main-page2 {
    position: relative;
    top: 8%;
    left: 6%;
    height: 680px;
    width: 1200px;
    /* background-color: forestgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-left {
    height: 100%;
    width: 50%;
    /* background-color: fuchsia; */
}

.Nevar-pera {
    font-size: 4vmax;
    position: relative;
    top: 10%;
}

.from-pera {
    font-size: 1.8vmax;
    position: relative;
    top: 13%;
    text-align: justify;
}

.learn {
    font-size: 1.6vmax;
    position: relative;
    top: 19%;

}

u {
    color: #25d366;
}

.page2-right {
    height: 100%;
    width: 50%;
    /* background-color: firebrick; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-div {
    height: 90%;
    width: 50%;
    /* background-color: rgb(98, 78, 98); */
    background-image: url(videoimg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


/* ----------------- */
.page3 {
    height: 100%;
    width: 100%;
    background-color: #111b21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-main {
    height: 90%;
    width: 90%;
    /* background-color: forestgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-page3 {
    height: 100%;
    width: 50%;
    /* background-color: chartreuse; */
}

.photo-div-page3 {
    height: 100%;
    width: 80%;
    /* background-color: aqua; */
    background-image: url(mobileimg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 8%;
}

.right-page3 {
    height: 100%;
    width: 50%;
    /* background-color: rgb(110, 124, 96); */
}

.learn2-page3 {
    position: relative;
    top: 30%;
    font-size: 1.5vmax;
    left: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page3-pera {
    position: relative;
    top: 25%;
    font-size: 1.5vmax;
    left: 10%;
    color: white;
}

.speak-page3 {
    position: relative;
    top: 20%;
    font-size: 3.5vmax;
    left: 10%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.freely-span {
    color: #25d366;

}

/* ------------------------------- */
.page4{
    height: 100%;
    width: 100%;
    background-color: #fcf5eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page4-main{
    height: 100%;
    width: 90%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-page4{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
}
.keep-left-page4{
    font-size: 4vmax;
    position: relative;
    top: 30%;
    left: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page4-perafrag{
    font-size: 1.4vmax;
    position: relative;
    top: 32%;
    left: 10%;
}
.learn-page4{
    font-size: 1.8vmax;
    position: relative;
    top: 35%;
    left: 10%;
    
}
.right-page4-photo-div{
    height: 90%;
    width: 60%;
}
.anni-img{
    height: 600px;
    width: 500px;
    object-fit: cover;
}
.right-page4{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(138, 180, 180); */
}

/* ------------------------------- */

.page5{
    height: 100%;
    width: 100%;
    background-color: #fcf5eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page5-main{
    height: 100%;
    width: 90%;
    /* background-color: #766c5e; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page5-right{
    height: 100%;
    width: 50%;
    /* background-color: #fce5c4; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.businessimg{
    height: 100%;
    width: 60%;
}

.page5-left{
    height: 100%;
    width: 50%;
    /* background-color: #a68352; */
}
.transfrom-text{
    font-size: 4vmax;
    position: relative;
    top: 25%;
    left: 10%;
}
.transform-pera{
    font-size: 1.5vmax;
    position: relative;
    top: 28%;
    left: 10%;
}
.learn-page5{
    font-size: 1.8vmax;
    position: relative;
    top: 32%;
    left: 10%;
}

/* ------------------------------ */
.page6{
    height: 120%;
    width: 100%;
    /* background-color: #e6ffda; */
    background-color: #e6ffda;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.Connect-text{
    font-size: 3vmax;
    position: relative;
    top: 10%;
    left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page6-main{
    
    height: 80%;
    width: 90%;
    /* background-color: darkcyan; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.left-page6{
    height: 100%;
    width: 30%;
    /* background-color: rgb(225, 32, 174); */
}
.funny-div{
    height: 300px;
    width: 300px;
    background-color: darkmagenta;
    position: relative;
    top: 15%;
    left: 4%;
    border-radius: 30px;
}
.ani-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.container{
    height: 100%;
    width: 50%;
    /* background-color: rgb(76, 104, 104); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.swiper{
    width: 90%;
    /* height: fit-content; */
    height: 80%;
    background-color: white;
    position: relative;
    top: 10%;
    border-radius: 20px;
}
.swiper-slide{
   
    width: 100%;
}

.ways-text{
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 3vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ways-peragraf{
    font-size: 1.2vmax;
    position: relative;
    top: 14%;
    text-align: center;
    left: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.read-btn{
    font-size: 1.4vmax;
    position: relative;
    left: 5%;
    top: 17%;
    padding: 8px 16px;
   background-color: transparent;
    border-radius: 50px;
    border: 1px solid black;

}
.read-btn:hover{
    background-color: #25d366;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
    font-size: 3px;
}

.swiper .swiper-pagination-bullet-active{
    display: none;
}

/* --------------------------------- */
.page7{
    height: 80%;
    width: 100%;
    background-color: black;
    border-radius: 20px;
}

.page7-main{
    height: 70%;
    width: 80%;
    /* background-color: darkgoldenrod; */
    position: relative;
    top: 4%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.line1-main{
    height: 18%;
    width: 90%;
    /* background-color: violet; */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    position: relative;

    top: 13%;
    left: 5%;
}
 .app-text{
    font-size: 2vmax;
    color: white;
} 
.line1{
    height: 100%;
    width: 22%;
    /* background-color: darkorchid; */
}
.img-logo-div{
    height: 100%;
    width: 30%;
    /* background-color: darkblue; */

}
.img-logo-what{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.meri-btn{
    position: relative;
    top: 60%;
    left: 8%;
    padding: 6px 20px;
    border-radius: 50px;
    background-color: #25d366;
    color: white;
    border: 1px solid white;
}

.line2{
    height: 100%;
    width: 17.5%;
    /* background-color: rgb(33, 221, 74); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.line3{
    height: 100%;
    width: 17.5%;
    /* background-color: rgb(185, 134, 72); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.line4{
    height: 100%;
    width: 17.5%;
    /* background-color: rgb(99, 38, 197); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}
.line5{
    height: 100%;
    width: 17.5%;
    /* background-color: rgb(112, 101, 89); */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.line-text{
    position: relative;
    text-align: justify;
    line-height: 3.9vmax;
    color: white;
    font-size: 1.1vmax;
    font-family: Arial, Helvetica, sans-serif;
}

.last-div{
    height: 20%;
    width: 80%;
    /* background-color: red; */
    position: relative;
    top: 5%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-left-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 30%;
}
#eng-btn{
    padding: 6px 28px ;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
  
}

.last-mid-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 20%;
}

.last-right-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.llc-pera1{
    color: white;
}

.llc-pera2{
    color: white;
}

.line-text::after{
    content: "";
    height: 3%;
    width: 0%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
}
.line-text:hover::after{
    width: 100%;
}